<!-- Account Page for Customers -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Customer Account Page</title>
        <link rel="stylesheet" href="/main.css">
    </head>

    <body class="account-page">
        <header >
            <!-- navigation part -->
            <nav class="navbar">
                <div class="logo">
                    <img src="/images/dine_click_logo.png" alt="Dine Click Logo">
                </div>

                <ul class="nav-buttons">
                    
                    <li><a href="/customers/homepage">Home</a></li>
                    <li><a href="/customers/about-us">About</a></li>
                    <li><a href="/customers/list">Restaurants</a></li>
                    <li><a href="/customers/homepage">My Bookings</a></li>
                    <li><a href="/customers/account">Account</a></li>
                </ul>
            </nav>
        </header>

        <!-- Show alert message -->
        <% if (typeof alertMessage !== 'undefined') { %>
            <div class="alert-overlay">
                <div class="alert-box">
                    <p><%= alertMessage %></p>
                    <button onclick="closeAlert()">OK</button>
                </div>
            </div>
        <% } %>
        
        <script>
            // Function to display the chosen file name
            function displayFileName(fileUploadID, fileNameID) {
                var fileUpload = document.getElementById(fileUploadID);
                var fileName = document.getElementById(fileNameID);
                if (fileUpload.files.length > 0) {
                    fileName.textContent = fileUpload.files[0].name;
                } else {
                    fileName.textContent = 'No file chosen';
                }
            }

            // Close the alert box
            function closeAlert() {
                document.querySelector('.alert-overlay').style.display = 'none';
            }
        </script>

        <section class = "account-profile">
            <div class = "account-profile-sections">
                <!-- Profile Picture (Left Side) -->
                <div class = "account-profile-left">
                    <h2> Profile </h2>
                    <img src = "<%= customer_data.customer_image %>" alt = "Missing Profile Picture" class = account-image> <br>
                    Edit Profile Picture:
                    <form action="/customers/account" method="POST" enctype="multipart/form-data">
                        <div class = "account-browse-file">
                            <input type= "file" id = "customerImageFileUpload" name="customer_image" class = "account-browse-image-button" onchange = "displayFileName('customerImageFileUpload', 'customerImageFileName')" required/>
                            <label for = "customerImageFileUpload" class = "custom-account-image-file-upload">Choose a file</label>
                            <div class = "account-image-file-name" id = "customerImageFileName">No file chosen</div>
                        </div> <br>
                        <button id = "updateCustomerImage" name = "submitButton" type = "submit" value = "updateCustomerImage" class = "account-button">Update Profile Picture</button>
                    </form>
                    <br>
                </div>

                <!-- Customer Data (Right Side) -->
                <div class="account-customer-profile-right">
                    <form action="/customers/account" method="POST">
                        Name: <input id="customer_name" type="text" name="customer_name" value= "<%= customer_data.customer_name %>" class = "account-input" required/> <br>
                        Email: <input id="customer_email" type="text" name="customer_email" value= "<%= customer_data.customer_email %>" class = "account-input" required/> <br>
                        Phone Number: +65 <input id="customer_phone_number" type="text" name="customer_phone_number" value= "<%= customer_data.customer_phone_number %>" class = "account-input" required/> <br>
                        Password: <input id="customer_password" type="password" name="customer_password" value= "<%= customer_data.customer_password %>" class = "account-input" required/> <br>
                        <br>
                        <div class="account-update-delete-button">
                            <button id = "updateCustomerAccount" name = "submitButton" type = "submit" value = "updateCustomerAccount" class = "account-button">Update</button>
                            <button id = "deleteCustomerAccount" name = "submitButton" type = "submit" value = "deleteCustomerAccount" class = "account-button">Delete</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Log Out Button -->
            <form action="/customers/sign-out" method="GET">
                <button type="submit" class = "account-sign-out-button">Sign Out</button>
            </form>
            <br>
        </section>   
    </body>
</html>
