<!-- Account Page for Restaurants --> 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restaurant Account Page</title>
        <link rel="stylesheet" href="/main.css">
    </head>

    <body class="account-page">
        <header >
            <!-- navigation part -->
            <nav class="navbar">
                <div class="logo">
                    <img src="/images/dine_click_logo.png" alt="Dine Click Logo">
                </div>

                <ul class="nav-buttons">
                    
                    <li><a href="/restaurants/homepage">Home</a></li>
                    <li><a href="/restaurants/about-us">About</a></li>
                    <li><a href="/restaurants/list">Restaurants</a></li>
                    <li><a href="/restaurants/homepage">My Bookings</a></li>
                    <li><a href="/restaurants/account">Account</a></li>
                </ul>
            </nav>
        </header>

        <% if (typeof alertMessage !== 'undefined') { %>
            <div class="alert-overlay">
                <div class="alert-box">
                    <p><%= alertMessage %></p>
                    <button onclick="closeAlert()">OK</button>
                </div>
            </div>
        <% } %>

        <script>
            // Function to display the chosen file name
            function displayFileName(fileUploadID, fileNameID) {
                var fileUpload = document.getElementById(fileUploadID);
                var fileName = document.getElementById(fileNameID);
                if (fileUpload.files.length > 0) {
                    fileName.textContent = fileUpload.files[0].name;
                } else {
                    fileName.textContent = 'No file chosen';
                }
            }

            // close the alert box
            function closeAlert() {
                document.querySelector('.alert-overlay').style.display = 'none';
            }
        </script>

        <section class = "account-profile">
            <div class = "account-profile-sections">
                <!-- Profile Picture (Left Side) -->
                <div class = "account-profile-left">
                    <h2> Profile </h2>
                    <img src = "<%= restaurant_data.restaurant_image %>" alt = "Missing Profile Picture" class = account-image> <br>
                    Edit Profile Picture:
                    <form action = "/restaurants/account" method="POST" enctype="multipart/form-data">
                        <div class = "account-browse-file">
                            <input type = "file" id = "restaurantImageFileUpload" name = "restaurant_image" class = "account-browse-image-button" onchange = "displayFileName('restaurantImageFileUpload', 'restaurantImageFileName')" required/> 
                            <label for = "restaurantImageFileUpload" class = "custom-account-image-file-upload">Choose a file</label>
                            <div class = "account-image-file-name" id = "restaurantImageFileName">No file chosen</div>
                        </div> <br>
                        <button id = "updateRestaurantImage" name = "submitButton" type = "submit" value = "updateRestaurantImage" class = "account-button">Update Profile Picture</button> 
                    </form>
                    <br>
                </div>

                <!-- Restaurant Data (Right Side) --> 
                <div class="account-restaurant-profile-right">
                    <form action="/restaurants/account" method="POST" class="restaurant-profile-form">
                        Name: <input id="restaurant_name" type="text" name="restaurant_name" value= "<%= restaurant_data.restaurant_name %>" class = "account-input" required/> <br>
                        Description: <input id="restaurant_description" type="text" name="restaurant_description" value= "<%= restaurant_data.restaurant_description %>" class = "account-input"/> <br>
                        Email: <input id="restaurant_email" type="text" name="restaurant_email" value= "<%= restaurant_data.restaurant_email %>" class = "account-input" required/> <br>
                        Phone Number: +65 <input id="restaurant_phone_number" type="text" name="restaurant_phone_number" value= "<%= restaurant_data.restaurant_phone_number %>" class = "account-input" required/> <br>
                        Password: <input id="restaurant_password" type="password" name="restaurant_password" value= "<%= restaurant_data.restaurant_password %>" class = "account-input" required/> <br>
                        Address: <input id="restaurant_address" type="text" name="restaurant_address" value= "<%= restaurant_data.restaurant_address %>" class = "account-input" required/> <br>
                        Opening Time: <input id="restaurant_opening_time" type="time" name="restaurant_opening_time" value= "<%= restaurant_data.restaurant_opening_time.split(':').slice(0, 2).join(':') %>"  class = "account-input" required/> <br>
                        Closing Time: <input id="restaurant_closing_time" type="time" name="restaurant_closing_time" value= "<%= restaurant_data.restaurant_closing_time.split(':').slice(0, 2).join(':') %>" class = "account-input" required/> <br>
                        <br>
                        <div class="account-update-delete-button">
                            <button id = "updateRestaurantAccount" name = "submitButton" type = "submit" value = "updateRestaurantAccount" class = "account-button">Update</button> 
                            <button id = "deleteRestaurantAccount" name = "submitButton" type = "submit" value = "deleteRestaurantAccount" class = "account-button">Delete</button> 
                        </div>
                    </form>
                </div>
            </div>

            <div class = "restaurant-profile-bottom"> 
                <!-- Edit Floorplan -->
                <div class = "restaurant-profile-floorplan">
                    <h3> Floorplan: </h3>
                    <div class = floorplan-image-wrapper>
                        <img src= "<%= restaurant_data.restaurant_floorplan_image %>" alt="Missing Floorplan Picture" class = floorplan-image> <br>
                    </div>
                    Edit Floorplan:
                    <form action="/restaurants/account" method="POST" enctype="multipart/form-data">
                        <div class = "account-browse-file">
                            <input type = "file" id = "floorplanImageFileUpload" name = "restaurant_floorplan_image" class = "account-browse-image-button" onchange = "displayFileName('floorplanImageFileUpload', 'floorplanImageFileName')" required/> 
                            <label for = "floorplanImageFileUpload" class = "custom-account-image-file-upload">Choose a file</label>
                            <div class = "account-image-file-name" id = "floorplanImageFileName">No file chosen</div>
                            <button id = "updateFloorplanImage" name = "submitButton" type = "submit" value = "updateFloorplanImage" class = "account-button">Update Floorplan</button>
                        </div>
                    </form>
                </div>

                <!-- Menu List -->
                <div class = "restaurant-profile-menu">
                    <h3> Menu: </h3>
                    <form action="/restaurants/edit-menu" method="GET">
                        <button name = "editMenu" type="submit" class = "account-button">Edit Menu</button>
                    </form>
                    <ul>
                        <% menu_list.forEach((menu, index) => { %> 
                            <%= index + 1%>. <%= menu.menu_name %> <br>
                            <div class = menu-item-image-wrapper>
                                <img src= "<%= menu.menu_image %>" alt = "Missing Menu Image" class = "menu-item-image"> <br>
                            </div>
                            <br>
                        <% }) %>
                    </ul> 
                </div>
            </div>

            <!-- Log Out Button -->
            <form action="/restaurants/sign-out" method="GET">
                <button type="submit" class = "account-sign-out-button">Sign Out</button>
            </form>
            <br>
        </div>
    </body>
</html>
